name: build

on:
    push:
        branches: [ master ]

jobs:
    build:
        name: build

        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build and publish
              uses: elgohr/Publish-Docker-Github-Action@v4
              with:
                  name: tonybogdanov/zip
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Decompress
              uses: TonyBogdanov/zip@1.0
              with:
                  args: unzip -qq ./archive.zip -d ./target
